// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #B85042;
$secondary : #fdfdf6;
$accent    : #FFCF81;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
